.container {
  height: 100%;
  position: relative;
  width: 100%;
}

.header {
  align-items: center;
  background-color: var(--color-gray-2);
  display: flex;
  padding: 24px 40px;
  justify-content: space-between;
  width: 100%;
}

.header-left {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.header-right {
  display: flex;
  gap: 40px;
}
