/* Base Button */
.button {
  align-items: center;
  border: none;
  cursor: pointer;
  display: inline-flex;
  font-weight: var(--font-weight-regular);
  justify-content: center;
  transition: background-color 0.2s;
  white-space: nowrap;
}

.button:hover {
  box-shadow: 0 0 0 2px var(--color-brand-primary-brightness);
}

:global([data-theme="dark"]) .button:hover {
  /* ISSUE - testando atribuicao de custom color diretamente - remover depois */
  box-shadow: 0 0 0 2px red;
}

.button:focus-visible {
  box-shadow: 0 0 0 1px var(--color-brand-primary-brightness);
  outline: solid 1px var(--color-brand-primary-brightness);
  outline-offset: 2px;
}

/* Colors */
.button--primary {
  background-color: var(--color-brand-primary);
  color: var(--color-gray-1);
}

.button--secondary {
  background: transparent;
  border: 1px solid var(--color-brand-primary);
  color: var(--color-brand-primary);
}

/* Sizes */
.button--mini {
  font-size: var(--font-size-12);
  height: 24px;
  line-height: var(--font-size-16);
  padding: var(--padding-xy-8-4);
}

.button--small {
  font-size: var(--font-size-14);
  height: 28px;
  line-height: var(--font-size-20);
  padding: var(--padding-xy-12-4);
}

.button--medium {
  font-size: var(--font-size-14);
  height: 36px;
  line-height: var(--font-size-20);
  padding: var(--padding-xy-14-8);
}

.button--regular {
  font-size: var(--font-size-16);
  height: 40px;
  line-height: var(--font-size-24);
  padding: var(--padding-xy-16-8);
}

.button--large {
  font-size: var(--font-size-18);
  height: 52px;
  line-height: 28px;
  padding: var(--padding-xy-18-12);
}

/* Variants */
.button--squared {
  border-radius: unset;
}

.button--rounded.button--mini {
  border-radius: var(--border-radius-4);
}
.button--rounded.button--small {
  border-radius: var(--border-radius-4);
}
.button--rounded.button--medium {
  border-radius: var(--border-radius-8);
}
.button--rounded.button--regular {
  border-radius: var(--border-radius-8);
}
.button--rounded.button--large {
  border-radius: var(--border-radius-8);
}

.button--pill.button--mini {
  border-radius: var(--border-radius-12);
}
.button--pill.button--small {
  border-radius: var(--border-radius-14);
}
.button--pill.button--medium {
  border-radius: var(--border-radius-18);
}
.button--pill.button--regular {
  border-radius: var(--border-radius-24);
}
.button--pill.button--large {
  border-radius: var(--border-radius-32);
}

/* Icon */
.button__icon {
  margin-right: var(--spacing-xs);
}

.button--with-icon {
  display: inline-flex;
  align-items: center;
}

.button.full {
  width: 100%;
}

/* 
Botões com ícone
  .withIcon {
    display: flex;
    gap: 8px;
  }

  .withIcon svg {
    width: 16px;
    height: 16px;
  }
*/
