/*
  --border-radius-mini: 2px;
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-regular: 12px;
  --border-radius-large: 16px; 
*/

/* Base Button */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
  /* transition: 0.2s ease-in-out; */
}

.button:hover {
  background-color: var(--color-primary-hover);
}

/* Colors */
.button--primary {
  background-color: var(--color-secondary-dark);
  color: var(--color-primary);
}
.button--secondary {
  background-color: var(--color-primary);
  color: var(--color-secondary-dark);
}

/* Variants */
.button--squared {
  border-radius: 0;
}

.button--rounded {
  border-radius: var(--border-radius-medium);
}

.button--pill {
  border-radius: var(--border-radius-pill);
}

/* Sizes */
.button--mini {
  padding: var(--spacing-xs) var(--spacing-sm);
  font-size: var(--font-size-mini);
  height: 24px;
}

.button--small {
  padding: var(--spacing-xs) var(--spacing-md);
  font-size: var(--font-size-small);
  height: 32px;
}

.button--medium {
  padding: var(--spacing-sm) var(--spacing-lg);
  font-size: var(--font-size-medium);
  height: 40px;
}

.button--regular {
  padding: var(--spacing-sm) var(--spacing-xl);
  font-size: var(--font-size-regular);
  height: 48px;
}

.button--large {
  padding: var(--spacing-md) var(--spacing-xl);
  font-size: var(--font-size-large);
  height: 56px;
}

/* Icon */
.button__icon {
  margin-right: var(--spacing-xs);
}

.button--with-icon {
  display: inline-flex;
  align-items: center;
}
/* 
Botões com ícone
  .withIcon {
    display: flex;
    gap: 8px;
  }

  .withIcon svg {
    width: 16px;
    height: 16px;
  }
*/

.body-large-regular {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-normal);
  line-height: calc(var(--font-size-24) * 1.6);
}
