.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  width: 100%;
}

.header-left {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.header-right {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  width: fit-content;
}
