:root {
  --font-size-mini: 12px;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
